* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 2px dashed #FF7500;
    outline-offset: 5px;
}

.container-parents {
    max-width: 1480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}



body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: flex;
}

b {
    color: #FF7500;
}

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    /* padding-top: 16px; */
    padding-bottom: 16px;

}

.header-line {
    width: 100%;
    height: 5px;
    background-color: #FF7500;
    margin-bottom: 20px;

}

.header-logo {
    display: flex;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.header-container {
    max-width: 1460px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FF7500;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

.orange-button:hover {
    opacity: 80%;
}

.header-links {
    display: flex;
    gap: 32px;
}

.header-link {
    color: #000;
}

.header-link:hover {
    color: #FF7500;
}

/* hero */
.hero {
    background-color: #252420;
    color: #fff;
    width: 100%;
    height: 488px;
}

.hero-line {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin-bottom: 40px;
}


.python-book {
    position: relative;
    top: 40px;
    border-radius: 8px;
    box-shadow: 27px 24px 0px 0px rgba(255, 117, 0, 0.6);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    height: 488px;
}

.hero-content {
    margin-top: 80px;
    max-width: 387px;
    width: 100%;


}

/* Why */
.why {
    padding-top: 237px;
    padding-bottom: 330px;
}

.why-line {
    width: 80px;
    height: 3px;
    margin-bottom: 24px;
    background-color: #FF7500;

}

.hero-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 122%;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.5px;
}

.hero-text {
    margin-bottom: 32px;
}

.title {
    margin-bottom: 72px;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed";
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 20%);
    border-radius: 50%;
    margin-bottom: 32px;
}

/* cards */
.cards {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.card {
    min-width: 340px;
    width: 100%;
}

.card-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed";
}

/* cta */
.cta {
    max-width: 1100px;
    width: 100%;
    height: 440px;
    background-color: #252420;
    color: #fff;
    margin-bottom: 160px;
    border-radius: 12px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cta-content {
    max-width: 440px;
    width: 100%;
    margin: 64px;
}

.cta-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed";
}

.cta-text {
    margin-top: 12px;
    margin-bottom: 24px;
}

.cta-img {
    position: relative;
    top: -35px;
    /* left: 64px; */
    /* bottom: 64px; */
    right: 25px;

}

/* footer */
.footer {
    background-color: #F8F8F8;
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.socials {
    display: flex;
    gap: 16px;
}

.footer-bottom {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.footer-link {
    color: #252420;
}